<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Edit account', edit_user_registration_path, :class => "edit-account" %>
    </li>
    <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete', :class=>'logout' %>
    </li>
  <% else %>
    <li>
      <%= link_to 'Login', new_user_session_path, :class=>'login' %>
    </li>
    <li>
      <%= link_to 'Sign up', new_user_registration_path, :class=>'signup' %>
    </li>
  <% end %>
</ul>